@import url("https://fonts.googleapis.com/css?family=Rubik&display=swap");

/* Global styles 
----------------*/

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", "Oxygen", sans-serif;
  font-weight: normal;
  line-height: 1.4em;
  font-size: 1.2em;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  background-color: rgb(241, 238, 234);
}

button {
  background: none;
  font-family: inherit;
}

#root {
  position: relative;
  width: 100%;
  height: 100%;
}

.loading-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.loading-text {
  margin-bottom: 20px;
}

.loading-icon {
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.content-wrap {
  width: 50%;
  margin: 50px auto;
  padding-top: 10px;
}

.content-wrap h1 {
  margin: 20px 0 50px;
  text-align: center;
  line-height: 1.5em;
}

.table-container {
  width: 100%;
  margin-bottom: 80px;
  padding: 10px 30px;
  background-color: white;
  box-shadow: 0px 3px 10px 5px rgba(150, 150, 150, 0.1);
}

.table-container h2 {
  margin: 30px 0 50px;
  text-align: center;
  text-transform: uppercase;
}

.top-revenue-table {
  margin-bottom: 20px;
  width: 100%;
  border-collapse: collapse;
}

.top-revenue-table .table-tab p:hover {
  cursor: pointer;
}

.top-revenue-table tr {
  height: 40px;
}

.top-revenue-table tr:nth-child(even) {
  background-color: rgb(245, 245, 245);
}

.top-revenue-table i {
  margin: 0 5px;
}

.top-revenue-table td {
  text-align: center;
}

.top-revenue-table th:first-child,
.top-revenue-table td:first-child {
  text-align: left;
}

.top-revenue-table th,
.top-revenue-table td {
  padding: 0 5px;
}

.btn-container {
  text-align: center;
}

.btn-container button {
  min-width: 100px;
  padding: 5px 10px;
  background-color: rgb(245, 245, 245);
  border-radius: 5px;
}

.btn-container button:hover {
  background-color: rgb(235, 235, 235);
  cursor: pointer;
}

.chart-container {
  width: 100%;
  margin-bottom: 80px;
  padding: 10px 30px;
  background-color: white;
  box-shadow: 0px 3px 10px 5px rgba(150, 150, 150, 0.1);
}

.chart-container h2 {
  margin: 30px 0 50px;
  text-align: center;
  text-transform: uppercase;
}

.customer-select-form {
  margin-bottom: 50px;
  text-align: center;
}

.customer-select-form label {
  font-weight: bold;
  font-size: 1.1em;
  margin-right: 10px;
}

.customer-select-form select {
  padding: 5px;
  font-size: 1em;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 5px;
}

.chart .apexcharts-menu-icon {
  display: none;
}

.footer {
  padding: 10px;
  text-align: center;
}

@media screen and (max-width: 1600px) {
  .content-wrap {
    width: 75%;
  }
}

@media screen and (max-width: 1200px) {
  html {
    line-height: 0.9em;
    font-size: 0.9em;
  }

  .content-wrap {
    width: 90%;
  }
}

@media screen and (max-width: 800px) {
  html {
    line-height: 0.9em;
    font-size: 0.7em;
  }

  .content-wrap {
    width: 95%;
    margin: 20px auto;
  }

  .content-wrap h2 {
    margin: 10px 0 25px;
  }

  .top-revenue-table tr {
    height: 30px;
  }

  .table-container,
  .chart-container {
    padding: 10px;
  }
}
